@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(./reset.css);

:root {
    --azul: #03346E;
    --verde: #6FD72B;
    --font-chivo-mono: "Chivo Mono", monospace;
    --font-chivo: "Chivo", sans-serif;
    --font-albert: "Albert Sans", sans-serif;
    --font-lilita: "Lilita One", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
    --font-inter: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--azul);
    color: white;
}

body > a{
    display: none;
}

#home, #study, #contact {
    height: 100vh;
}

#skill, #study,
#project, #contact {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#skill h2, #study h2,
#project h2, #contact h2 {
    font-family: var(--font-chivo-mono);
    font-weight: bold;
    font-style: italic;
    color: var(--verde);
    font-size: 2rem;
    text-align: center;
    padding-top: 5.5rem;
}

/* Estilos tablets */
@media (min-width: 768px) {

    body > a {
        display: initial;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background-color: var(--verde);
        border-radius: 50%;
        padding: .7rem;
        opacity: 30%;
        text-decoration: none;
        color: var(--azul);
    }

    body > a:hover {
        scale: 1.2;
    }

    #skill h2, #study h2, #contact h2 {
        padding-top: 0;
    }
}